@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Space+Grotesk:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    font-family: Space Grotesk, sans-serif, system-ui, Avenir, Helvetica, Arial, sans-serif;
    border-radius: 10px; /* Adjust the value as needed */
}  
/* style.css */
body {
    padding: 16px 24px 16px 24px;
    width: 650px;
    margin: 0;
    background: #F6F8FA;
    box-sizing: border-box;
}

h2 {
    margin: 0;
    font-weight: 500;
}

p {
    margin: 0;
    font-size: 1.2em;
}

.link-btn {
    font-weight: 500;
}

.popup {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}

.header {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 12px;
}

#inputField {
    font-family: Space Grotesk, sans-serif, system-ui, Avenir, Helvetica, Arial, sans-serif;
    margin-right: 4px;
    height: 25px;
    width: 200px;
}


button {
    font-family: Space Grotesk, sans-serif, system-ui, Avenir, Helvetica, Arial, sans-serif;

}

.logo {
    color: #333;
    font-size: 1.5em;
    margin-right: auto;
    height: 30px;
}

.pin-icon {
    height: 15px;
    width: auto;
}

#captureBtn {
    background-color: #4E61A1;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    font-size: 1.5em;
}

#captureBtn:hover {
    background-color: #3d4d83;
}

#pinSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    box-sizing: border-box;
}

#yourPins img {
    width: 100%;
    border-radius: 4px;
    border: 1.5px dashed #ACACAC;
}

.pin {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 16px;
}
  
.pin-content {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 8px;
}
    
.pin-checkbox {
    margin-right: 12px;
    height: 15px;
    width: 15px;
}

#clearBtn {
    transition: color 0.3s ease;
    color: #A2302A;
    cursor: pointer;
    margin-top: 12px;
    background-color: #F6F8FA;
    border: none;
    padding: 0px;
    display: none;
}
  
#clearBtn:hover {
    color: rgb(118, 35, 29)
}

.screenshot-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.screenshot-container img {
    width: 100%;
}

/* Styles for the popup */
#successMsg {
    position: absolute;
    background-color: #2C2C2C;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    animation: fadeInOut 2s ease-in-out;
    color: white;
}
  
.hidden {
    display: none;
}

@keyframes fadeInOut {
    0% { opacity: 0; }
    20% { opacity: 1; }
    80% { opacity: 1; }
    100% { opacity: 0; }
}

#clearConfirmation {
    display: flex;
    flex-direction: column;
    padding: 16px 24px;
    background-color: #2C2C2C;
    color: white;
    border-radius: 8px;
    align-items: start;
    position: absolute;
    display: none;
}

#clearConfirmation h2 {
    margin-bottom: 4px;
}

.btn-row {
    display: flex;
    flex-direction: row;
    margin-top: 16px;
    width: 100%;
    padding: 0;
}

.clearModalBtn {
    background-color: white;
    color: #2C2C2C;
    border: none;
    border-radius: 4px;
    padding: 4px 8px;
    cursor: pointer;
    margin-right: auto;
}

.kill {
    background-color: #A2302A;
    color: white;
    margin-left: auto;
    margin-right: 0px;
}