@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Space+Grotesk:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    font-family:
        Space Grotesk,
        sans-serif,
        system-ui,
        Avenir,
        Helvetica,
        Arial,
        sans-serif;
}
/* style.css */
body {
    padding: 16px 16px 16px 16px;
    width: 600px;
    /* min-height: 850px; */
    margin: 0;
    background: #ffffff;
    box-sizing: border-box;
}

.ext-wrapper {
    padding: 16px 16px 16px 16px;
    width: 600px;
    margin: 0;
    box-sizing: border-box;
    border-radius: 10px;
}

h2 {
    margin: 0;
    font-weight: 500;
}

h3 {
    font-size: 1.3em;
    margin: 0;
}

p {
    margin: 0;
    font-size: 1.2em;
}

.link-btn {
    font-weight: 500;
}

.popup {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header {
    text-align: center;
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    top: 0;
    background: #f6f8fa;
    align-items: center;
    padding: 16px 0px 16px 0px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);

}

#inputField {
    font-family:
        Space Grotesk,
        sans-serif,
        system-ui,
        Avenir,
        Helvetica,
        Arial,
        sans-serif;
    margin-right: 4px;
    height: 25px;
    width: 300px;
}

button {
    font-family:
        Space Grotesk,
        sans-serif,
        system-ui,
        Avenir,
        Helvetica,
        Arial,
        sans-serif;
}

.logo {
    color: #333;
    font-size: 1.5em;
    margin-right: auto;
    height: 30px;
    margin-left: 16px;
}

.pin-icon {
    height: 15px;
    width: auto;
}

#captureBtn,
#exportPinsBtn {
    background-color: #4e61a1;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    font-size: 1.5em;
    width: 32px;
    height: 32px;
}

#captureBtn:hover {
    background-color: #3d4d83;
}

#exportPinsBtn {
    margin: 0 16px 0 8px;
    background-color: #525762;
}

#exportPinsBtn:hover {
    background-color: #41464f;
}

#pinsEmptyState {
    width: 488px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dashed #d5d5d5;
    border-radius: 8px;
    font-size: 1.2em;
    color: #979797;
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 0 40px;
}

#pinSection {
    width: 100%;
    padding-top: 68px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    box-sizing: border-box;
    margin-bottom: 28px;
}

#yourPins {
    margin-top: 12px;
}

#yourPins img {
    width: 100%;
    border-radius: 6px;
    border: 1.5px dashed #acacac;
}

.pin {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 16px;
}

.pin-content {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 8px;
}

.pin-checkbox {
    margin-right: 12px;
    height: 15px;
    width: 15px;
}

#actionRow {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #f6f8fa;
    position: fixed;
    bottom: 0;
    justify-content: space-between; /* Aligns items on opposite ends */
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.15);
}

#clearBtn,
#deletePinBtn {
    transition: color 0.3s ease;
    color: #a2302a;
    cursor: pointer;
    background-color: #f6f8fa;
    border: none;
    padding: 0;
    margin: 12px 16px;
}

#clearBtn:hover {
    color: rgb(118, 35, 29);
}

#seeTrashBtn {
    transition: color 0.3s ease;
    color: #3d4d83;
    cursor: pointer;
    background-color: #f6f8fa;
    border: none;
    padding: 0;
    margin: 12px 16px;
}

#seeTrashBtn:hover {
    color: #2a3458;
}

.screenshot-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.screenshot-container img {
    width: 100%;
}

/* Styles for the popup */
#successMsg {
    position: absolute;
    background-color: #2c2c2c;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    animation: fadeInOut 2s ease-in-out;
    color: white;
}

.hidden {
    display: none;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#clearConfirmation {
    display: flex;
    flex-direction: column;
    padding: 16px 24px;
    background-color: #2c2c2c;
    color: white;
    border-radius: 8px;
    align-items: start;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    display: none;
}

#clearConfirmation h2 {
    margin-bottom: 4px;
}

.btn-row {
    display: flex;
    flex-direction: row;
    margin-top: 16px;
    width: 100%;
    padding: 0;
}

.clearModalBtn {
    background-color: white;
    color: #2c2c2c;
    border: none;
    border-radius: 4px;
    padding: 4px 8px;
    cursor: pointer;
    margin-right: auto;
}

.kill {
    background-color: #a2302a;
    color: white;
    margin-left: auto;
    margin-right: 0px;
}

#deletePinBtn {
    margin: 0;
    margin-right: 12px;
    font-size: 1.4em;
    font-weight: 700;
    background-color: #ffffff;
}
